
<form action="/dogs" method="POST">
  <p>
    <label for="name">Name</label>
    <input id="name" name="name" type="text" />
  </p>
  <p>
    <label for="breed">Breed</label>
    <input id="breed" name="breed" type="text" />
  </p>
  <p>
    <label for="pic">Picture</label>
    <input id="pic" name="pic" type="text" />
  </p>
  <p>
    <label for="age">Age</label>
    <input id="age" name="age" type="text" />
  </p>
  <input type="submit" />
</form>