  <p>
    <label for="name">Name</label>
    <input id="name" name="dog[name]" value="<%= @dog.name %>" type="text" />
  </p>
  <p>
    <label for="breed">Breed</label>
    <input id="breed" name="dog[breed]" value="<%= @dog.breed %>" type="text" />
  </p>
  <p>
    <label for="pic">Picture</label>
    <input id="pic" name="dog[pic]" value="<%= @dog.pic %>" type="text" />
  </p>
  <p>
    <label for="age">Age</label>
    <input id="age" name="dog[age]" value="<%= @dog.age %>" type="text" />
  </p>
  <input type="submit" />